*{
    margin: 0;
    padding: 0;
}
.bg{
    height: 100vh;
    width: 800vw;
    background-image: url(bg2.jpg);
    background-repeat: repeat;
    position: absolute;
    background-size: contain;
    /* animation: carmove linear 2s infinite reverse; */
}
body{
    overflow: hidden;
    /* background-color: rgb(199, 235, 250); */
}
.car{
    height: 80px;
    width: 280px;
    background-image: url(carwithoutwheel.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 10px;
    bottom: 100px;
    animation: carmove linear 5s infinite;
    
}
.wheel1 img{
    width: 46px;
    position: relative;
    top: 58px;
    left: 27px;
    animation: wheelrotation linear .6s infinite;
}
.wheel2 img{
    width: 46px;
    position: relative;
    top: 10px;
    left: 198px;
    animation: wheelrotation linear .6s infinite;
}

 /* For animation, write @keyframes and then name of animation*/
 
@keyframes wheelrotation 
{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes carmove {
    60%
    {
        transform: translateX(1000px);
    }
}
@keyframes carshake {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
